body{
    background-color: rgb(46, 46, 46);
    color: rgb(129, 248, 252);
    
}

p{
    font-size: 16px;
    line-height: 0;
}

a{
    color:blueviolet;
    text-decoration: none;
}


table{
    border-collapse: collapse;
    width: 100%;
}

th:nth-child(1){
    width: 25%;
}

th, td{
    border: 1px solid rgb(120, 120, 187);
    padding: 4px;
    text-align: left;
}

th{
    background-color: #7a16162a;
}